.sizes-table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px;
  
}

.sizes-table caption {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

td{
  border: 1px solid var(--color-cameo);
  padding: 17px 5px;
  text-align: center;
  color: vat(--color-main);
  font: var(--middle-book);
}