html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Intro", sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
border: 0;
clip: rect(0 0 0 0);
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
  
}

.btn{
  padding: 22px 47px;
  border-radius: 4px;
  font: var(--middle-font-sm);
  transition: color 0.3s ease-in-out,
  background-color 0.3s ease-in-out;
}
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-accent);
  &:hover{
  background-color: var(--color-accent-hover);
  }
}
.btn--primary {
  color: var(--color-white);
  background-color: var(--color-accent);
  font: var(--middle-regular);
  &:hover {
    background-color: var(--color-accent-hover);
  }
}

.btn--secondary {
  color: var(--color-white);
  background-color: var(--color-main);
  font: var(--middle-regular);
  &:hover {
    background-color: var(--color-main-hover);
  }
}
.btn--thirdly {
  color: var(--color-main);
  background-color: transparent;
  border: 1px solid var(--color-main);
  padding: 13px 45px;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-main);
  }
}

.title{
  margin: 0;
  margin-bottom: var(--main-offset) ;
  font: var(--middle-font-bold);
  color: var(--color-main);

}

@import '_mixins.scss';
.custom-checkbox{
  @include custom-checkbox;
  display: inline-flex;
  align-items: center;
}
.custom-checkbox__content{
  font: var(--middle-book);
  color: var(--color-main);
  padding-left: 35px;
}
.custom-checkbox__content::before{
  top: -3px;
  border-color: var(--color-cameo);
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.custom-checkbox__content::after{
  top: -3px;
  background-image: url('../img/chek.svg');
  background-size: 15px 12px;
  width: 24px;
  height: 24px;
}